body {
    background-color: #1F1F23;
    color: #ECEFF4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;

    -webkit-user-select: none;
    user-select: none; 

    min-width: 375px;
}

nav { text-align: center; }

nav:first-child { margin-top: 15px; }

.genSelection, .gameSelection {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 20px;
}

.genSelection li, .gameSelection li {
    display: inline;
    border: 1px #4f4f59 solid;
    padding: 5px;
    border-radius: 8px;
}

.gameSelection, section {
    display: none;
}

.active {
    display: block;
}

.active.genSelector, .active.gameSelector {
    border: 1px #5e81ac solid;
}

main { text-align: center; }

section.active .flex {
    display: inline-flex;
    max-width: 1200px;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

img {
    width: 50px;
    height: 50px;
    border: 1px #5e81ac solid;
    border-radius: 5px;
}

.catch{
    filter: grayscale(100%);
    border: 1px #4f4f59 solid;
    background-color: rgba(150, 150, 150, 0.2);
}